
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}


.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px; 
    
}


.gallery img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}


.gallery img:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}